__pycache__/
.git/
build/
dist/
# installation folder EXE/
EXE/
*.code-workspace
.history/
.pyc
.qt_for_python/
.eggs/
tmp/
tests/
.venv/
.vscode/
*.egg-info/
#*.lock

*.log
*.db*
# *.xml
*.back

/*.png
/*.jpg
